
*{
    box-sizing: border-box;
}

body{

    margin:0;
}


/* navigation styles start here */

header 
{
    background-color:rgb(0, 0, 0,.85);
    text-align:center;
    position:sticky;
    top:0;
    width:100%;
    z-index:999;

    
   
}

header h1 {
    color:white;
}

nav {
    position: absolute;
    text-align:left;
    background-color:rgb(0, 0, 0,.85);
    width:100%;

    margin-top:-2px;
    
    display:none;
    
}

nav ul{

    padding:0;
    margin:0;
    list-style-type: none;
}

nav li {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em;
    
}

nav a 
{
    text-decoration: none;
    font-size: 2rem;
    color:white;


}

nav a:hover {
    color:white;
    

}

.nav-toggle:checked ~ nav 
{
    display:block;
}

.nav-toggle
{
    display:none; 
}

.nav-toggle-label{
    position:absolute;
    top:0;
    left:1em;
    display:flex;
    align-items:center;
    height:100%;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    background-color:white;
    height:2px;
    display:block;
    width:2em;
    border-radius:3px;
    position:relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    content:'';
    position:absolute;
}

.nav-toggle-label span::before
{
    top:7px;
}

.nav-toggle-label span::after
{
    bottom:7px; 
}

/* navigation styles end here */


.container
{
    
  
    display:grid;
    grid-template-columns: [first] 1fr [second] 2fr [third] 2fr [fourth] 1fr;
    grid-template-rows: [first-row] 1fr, [second-row] 1fr, [third-row] 1fr, [fourth-row] 1fr;
    
    justify-items:center;

    grid-template-areas: 
        "header header header header"
        "apparel apparel apparel apparel"
        "bakery bakery bakery bakery"
        "text text text text"
        ;

    
}
@media only screen and (min-width: 768px) 
{
    .container
    {
        grid-template-areas: 
        "header header header header"
        ". bakery apparel ."
        ". text text ."
        ". . . . "
        ;
    }

    .bakery
    {
        
    }
}

.blue {
    background-color: blue; 
    
}


.imgbox
{
    grid-area:apparel;
    background-color:purple;
    display:flex;
    align-items: center;
    

}
.apparel 
{
    width:100%;
}


.imgbox2
{
    grid-area:bakery;
    background-color:green;
   
    
    

}
.bakery
{
    width:100%;
    height:100%;
}

.header 
{
    grid-area:header;
}

.text {
    grid-area:text;
}